# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
Stat_245_CSR.Rproj
project-proposal.log
other_documents/
datasets/
images/
project-proposal.pdf
project-proposal.html
csr_naloxone_tidy_dataset.pdf
csr_naloxone_tidy_dataset.html
csr_naloxone_tidy_dataset.log
csr_naloxone_group_project_proposal_v2.html
csr_naloxone_group_project_proposal_v2.pdf
csr_naloxone_group_project_proposal_v2.log
csr_naloxone_group_project_proposal.pdf
csr_naloxone_group_project_proposal.log
csr_naloxone_group_project_proposal.html
STAT 2020 fall info and research questions 20200824.pdf
csr_naloxone_draft_graphics.pdf
csr_naloxone_draft_graphics.log
csr_naloxone_draft_graphics.html
csr_naloxone_draft_interactive_element.zip
csr_naloxone_draft_interactive_element/CDCWonderDataQuery_UnderlyingCauseOfDeath_GROUPBY_GenderRaceYearTenYearAgeGroupCounty_LIMITBY_noneAllCausesOfDeathDates9decimalsPer1k_TIDY.csv
deprecated/
